body {
    background: #f6a3b5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
}

.container {
    text-align: left;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0px 0px 60px rgba(255, 2, 112, 0.3);
    width: 100%;
    max-width: 500px;
    box-sizing: border-box;
    width: 100%;
}

h1 {
    color: #E30650;
    margin-bottom: 30px;
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

label {
    font-size: 16px;
    color: #000000;
}

input, select {
    padding: 12px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 8px;
    width: 100%;
    box-sizing: border-box;
}

button {
    padding: 12px;
    font-size: 16px;
    color: #fff;
    background-color: #E30650;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #b60528;
}

a.back-link {
    font-size: 16px;
    color: #E30650;
    text-decoration: none;
    margin-top: 0px;
    text-align: center;
}

a.back-link:hover {
    text-decoration: underline;
}

.label-user-type {
    margin-top: 10px;
}