<!-- voluntario.component.html -->
<div class="container">
    <aside class="sidebar">
        <img [src]="imagePath" alt="Logo bons Fluidos" class="logo">
        <nav class="menu">
            <button class="menu-item active">
                <i class="material-icons-outlined">home</i>
            </button>
            <button class="menu-item" [routerLink]="'/config'">
                <i class="material-icons-outlined">settings</i>
            </button>
            <button class="menu-item" [routerLink]="'/home'">
                <i class="material-icons-outlined">logout</i>
            </button>
        </nav>
    </aside>
    <main class="main-content">
        <header class="header">
            <h1>Bem vindo, Usuário</h1>
        </header>
        <section class="content">
            <h2>Conheça nosso projeto</h2>
            <div class="image-container">
                <img [src]="imagePath1" alt="Imagem 1" class="project-image">
                <img [src]="imagePath2" alt="Imagem 2" class="project-image">
                <img [src]="imagePath3" alt="Imagem 3" class="project-image">
            </div>
            <div class="text-container">
                <div class="project-text">
                    <p>
                        O projeto Bons Fluidos, desenvolvido pela UTFPR-Cornélio Procópio, tem como missão promover a dignidade 
                        e combater as desigualdades enfrentadas por meninas que têm seu direito à educação comprometido devido 
                        à falta de acesso a recursos adequados para lidar com o período menstrual.
                    </p>
                </div>
                <div class="links">
                    <h3>Mais informações:</h3>
                    <ul>
                        <li><i class="material-icons-outlined">photo_camera</i> <a href="https://www.instagram.com/bonsfluidosutfpr/" target="_blank"> Instagram</a></li>
                        <li><i class="material-icons-outlined">web</i><a href="https://www.utfpr.edu.br/campus/cornelioprocopio/extensao/atividades-extensao/projeto-de-extensao-bons-fluidos" target="_blank"> Página do Projeto</a></li>
                        <li><i class="material-icons-outlined">auto_stories</i><a href="https://moodle.utfpr.edu.br/pluginfile.php/3296658/mod_resource/content/1/Slides.pdf" target="_blank"> Slides do Projeto</a></li>
                    </ul>
                </div>
            </div>
            <div class="buttons-container">
                <button class="action-button" [routerLink]="'/regisDo'">DOAR</button>
                <button class="action-button" [routerLink]="'/suasDo'">SUAS DOAÇÕES</button>
            </div>
        </section>
    </main>
</div>

