
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.css">

<body>
    
    <div class="container">
        <!-- Sidebar -->
         
        <aside class="sidebar">
            <img [src]="imagePath" alt="Logo" class="logo">
            <nav class="menu">
                <button class="menu-item active">
                    <span class="material-icons-outlined">home</span>
                </button>
                <button class="menu-item" [routerLink]="'/config'">
                    <span class="material-icons-outlined">settings</span>
                </button>
                <button class="menu-item" id="logout" [routerLink]="'/home'">
                    <span class="material-icons-outlined">logout</span>
                </button>
            </nav>
        </aside>

        <!-- Main Content -->
        <main class="content">

            <!-- Tabela de Doações -->
            <div class="doacoes">
                <h1 id="titlle">Registro de Doações</h1>
                <h2>Doações</h2>
                <table class="tabela-doacoes">
                    <thead>
                        <tr>
                            <th>Voluntários</th>
                            <th>Quantidade</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Maristela Lagoeiro</td>
                            <td>05</td>
                        </tr>
                        <tr>
                            <td>Gustavo Lima</td>
                            <td>03</td>
                        </tr>
                        <tr>
                            <td>Analu Rocha</td>
                            <td>12</td>
                        </tr>
                        <tr>
                            <td>Joaquim Nascimento</td>
                            <td>10</td>
                        </tr>
                        <tr>
                            <td>Vitória Lapa</td>
                            <td>11</td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <!-- Leaderboard -->
            <div class="leaderboard">
                <h2>Leaderboard</h2>
                <div class="ranking">
                    <div class="rank-item destaque">
                        <span class="nome">Caetano da Silva</span>
                        <span class="pontuacao">200</span>
                    </div>
                    <div class="rank-item">
                        <span class="nome">Gustavo Lima</span>
                        <span class="pontuacao">126</span>
                    </div>
                    <div class="rank-item">
                        <span class="nome">Joaquim Nascimento</span>
                        <span class="pontuacao">120</span>
                    </div>
                    <div class="rank-item">
                        <span class="nome">Vitória Lapa</span>
                        <span class="pontuacao">90</span>
                    </div>
                    <div class="rank-item">
                        <span class="nome">Maristela Lagoeiro</span>
                        <span class="pontuacao">75</span>
                    </div>
                </div>
            </div>
                
        </main>
    </div>
    <div class="botaovolta">
        <button class="button-back" (click)="goBack()"> <!--(click)="goBack()-->
        &#8592; <!-- Código da seta -->
        </button>
    </div>
</body>


