/* Reset e configurações gerais */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f6a3b5;
    color: #333;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: visible;
}

/* Estrutura principal */
.container {
    display: flex;
    width: 100%;
    height: 100%;
}

/* Barra lateral */
.sidebar {
    width: 15%;
    min-height: 100vh; 
    background-color: #E30650;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
    gap: 20px;
    color: #fff;
    justify-content: flex-start;
}

.logo {
    width: 130px;
    margin-bottom: 190px;
}

.menu {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.menu-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 80px;
    gap: 5px;
    border: none;
    background-color: transparent;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.menu-item i {
    font-size: 24px;
}

.menu-item:hover, .menu-item.active {
    background-color: #b60528;
    border-radius: 5px;
}

/* Conteúdo principal */
.main-content {
    width: 85%;
    display: flex;
    flex-direction: column;
    padding: 70px;
    background-color: transparent;
}

.header {
    background-color: transparent;
    padding: 5px 20px;
    border-bottom: 2px solid #E30650;
    font-size: 24px;
    text-align: left;
}

/* Cartão de configurações */
.card {
    background-color: #fff;
    width: 55%;
    padding: 90px;
    border-radius: 10px;
    box-shadow: 8px 8px 29px rgba(255, 2, 112, 0.3);
    display: flex;
    flex-direction: column;
    gap: 25px;
    margin-top: 60px;
    align-self: center;
}

/* Cabeçalho do cartão */
.card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 24px;
    color: #333;
    margin-top: -60px;
}

.user-info {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.user-info span {
    font-size: 16px;
    color: #333; /* Cor preta */
    display: flex;
    align-items: center;
    gap: 5px;
}

.user-info span::before {
    content: '';
    width: 10px;
    height: 10px;
    background-color: #4caf50; /* Bolinha verde */
    border-radius: 50%;
}

.user-avatar {
    width: 90px;
    height: 90px;
    background-color: #ccc;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-right: 65px; /* Reduzi para aproximar o avatar */
}

/* Botões do cartão */
.card-button {
    width: 100%;
    padding: 17px;
    background-color: #f6f6f6;
    border: 1px solid #ddd;
    border-radius: 5px;
    text-align: left;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-bottom: 10px; /* Aumentei o espaçamento entre os botões */
}

.card-button:hover {
    background-color: #e8b1bd;
}

/* Botão de voltar */
.back-button-conf {
    width: 40px;
    height: 40px;
    background-color: #E30650;
    border: none;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 24px;
    cursor: pointer;
    align-self: flex-start; /* Coloca o botão no início da tela */
    
}

.back-button-conf:hover {
    background-color: #b60528;
    transform: translateX(-50%) scale(1.1);
}


/* Card de alteração de senha */
.senha-card {
    display: flex;
    flex-direction: column;
    gap: 10px; /* Reduzi o espaçamento entre os elementos */
    background-color: #f6f6f6;
    border: 1px solid #ddd;
    border-radius: 15px;
    padding: 20px;
    box-shadow: 8px 8px 29px rgba(255, 2, 112, 0.3);
    width: 100%;
    max-width: 600px; /* Adicionando um limite de largura */
    margin: 100px ; /* Centraliza o card */
}

.senha-card h3 {
    font-size: 18px;
    color: #333;
}

.senha-card form {
    display: flex;
    flex-direction: column;
    gap: 13px;
}

.senha-card label {
    font-size: 16px; /* Reduzi o tamanho da fonte */
    color: #333;
    text-align: center; /* Centraliza o texto */
}

.senha-card input {
    padding: 10px; /* Reduzi o padding */
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    width: 80%; /* Deixando os inputs um pouco menores */
    margin: 0 auto; /* Centraliza os inputs */
}

.senha-card button {
    padding: 10px; /* Reduzi o padding */
    background-color: #E30650;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 50%; /* Deixando os botões um pouco menores */
    margin: 10px auto;
    text-align: center; /* Centraliza os botões e dá um pequeno espaçamento entre eles */
}

.senha-card button:hover {
    background-color: #b60528;
}

.about-card button {
    padding: 10px; /* Reduzi o padding */
    background-color: #E30650;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 50%; /* Deixando os botões um pouco menores */
    margin: 10px auto;
    text-align: center; /* Centraliza os botões e dá um pequeno espaçamento entre eles */
}

.about-card button:hover {
    background-color: #b60528;
}
a.back-link {
    font-size: 20px;
    color: #E30650;
    text-decoration: none;
    margin-top: -60px;
    text-align: center;
}
.about-card p, ul{
    font-size: 20px;
}

a.back-link:hover {
    text-decoration: underline;
}

/* Responsividade */
@media screen and (max-width: 1024px) {
    .container {
        flex-direction: column;
    }

    .sidebar {
        width: 100%;
        height: auto;
        padding: 10px;
        gap: 15px;
    }

    .logo {
        margin-bottom: 80px;
    }

    .main-content {
        width: 100%;
        padding: 20px;
    }

    .card {
        width: 90%;
        padding: 50px;
        margin-top: 30px;
    }
}

@media screen and (max-width: 768px) {
    .menu-item {
        font-size: 14px;
        width: 40px;
        height: 60px;
    }

    .sidebar {
        padding: 10px;
    }

    .card {
        width: 100%;
        padding: 30px;
    }

    .senha-card {
        margin: 20px;
    }

    .senha-card input {
        width: 90%;
    }

    .senha-card button {
        width: 70%;
    }
}

@media screen and (max-width: 480px) {
    .sidebar {
        width: 100%;
        padding: 10px;
        gap: 10px;
    }

    .menu-item {
        width: 35px;
        height: 50px;
        font-size: 12px;
    }

    .logo {
        margin-bottom: 40px;
    }

    .card {
        width: 100%;
        padding: 20px;
    }

    .senha-card {
        margin: 10px;
    }

    .senha-card input {
        width: 80%;
    }

    .senha-card button {
        width: 60%;
    }
}

.about {
    margin-bottom: 20px;
}