<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Symbols+Outlined">

<div class="container">
    <aside class="sidebar">
        <img [src]='imagePath' class="logo">
        <nav class="menu">
            <button class="menu-item active">
                <span class="material-icons-outlined">home</span> 
            </button>
            <button class="menu-item"  [routerLink]="'/config'">
                <span class="material-icons-outlined">settings</span> 
            </button>
            <button class="menu-item" [routerLink]="'/home'">
                <span class="material-icons-outlined">logout</span> 
            </button>
        </nav>
    </aside>

    <main class="main-content">
        <header class="header">
            <h1>Controle de Estoque</h1>
        </header>
        <section class="content">

        </section>


        <section class="products">
            <h1>Produtos</h1>
            <table>
              <thead>
                <tr>
                  <th>Variedade</th>
                  <th>Quantidade</th>
                  <th>Voluntários</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Absorvente Externo com abas</td>
                  <td>12</td>
                  <td>03</td>
                </tr>
                <tr>
                  <td>Absorvente Interno</td>
                  <td>4</td>
                  <td>03</td>
                </tr>
                <tr>
                  <td>Absorvente Externo sem abas</td>
                  <td>2</td>
                  <td>03</td>
                </tr>
              </tbody>
            </table>
          </section>
    <section class="content">
      <div class="graph">
          <h1 class="text-2">Produtos</h1>
          <canvas #meuGrafico2 class="grafico"></canvas>
        </div>
  </section>
  
  <div class="botaovolta">
    <button class="button-back" (click)="goBack()">
      &#8592; <!-- Código da seta -->
  </button>
  </div>
</main>
</div>
