<div class="container">
  <div class="left-section">
    <a routerLink="/" class="login">
      <button class="back-button">Voltar</button>
    </a>
    <h2>Registre sua <span class="highlight">Conta individual!</span></h2>
    <p>Para fins de regulamentação da indústria, seus dados são necessários.</p>
    <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
      <!-- Tipo de Usuário -->
      <div class="user-type">
        <p class="user-type-label">Tipo de Usuário</p>
        <select formControlName="userType">
          <option value="" disabled selected>Selecione</option>
          <option value="voluntario" class="select-option">Voluntário</option>
          <option value="administrador" class="select-option">Administrador</option>
        </select>
      </div>

      <!-- Campos do formulário -->
      <label class="label-user-type" for="nome">Nome completo*</label>
      <input type="text" id="nome" placeholder="Digite seu nome" formControlName="nome">

      <label class="label-user-type" for="email">Endereço de e-mail*</label>
      <input type="email" id="email" placeholder="Digite seu e-mail" formControlName="email">

      <label class="label-user-type" for="senha">Crie uma senha*</label>
      <input type="password" id="senha" placeholder="Digite sua senha" formControlName="senha">

      <!-- Perguntas condicionais -->

      <div id="voluntario-section">
        <label class="label-user-type" for="cpf">Digite seu CPF*</label>
        <input type="text" id="cpf" placeholder="Digite seu CPF" formControlName="cpf">
      </div>


      <!-- <div *ngIf="isVoluntario()" id="voluntario-section">
        <label for="cpf">Digite seu CPF*</label>
        <input type="text" id="cpf" placeholder="Digite seu CPF" formControlName="cpf">
      </div> -->

      <!-- <div *ngIf="isAdministrador()" id="administrador-section">
        <label for="adminId">Crie seu ID*</label>
        <input type="text" id="adminId" placeholder="Digite seu ID" formControlName="adminId">
      </div> -->

      <div class="terms">
        <input type="checkbox" formControlName="termos">
        <label for="termos">Eu concordo com os termos e condições</label>
      </div>

      <button type="submit" class="register-btn" [disabled]="!registrationForm.valid">Registrar Conta</button>
    </form>
  </div>
  <div class="right-section">
    <img [src]="imagePath" alt="Logo bons Fluidos" class="logo">
    <p class="slogan">COMBATE À POBREZA MENSTRUAL</p>
  </div>
</div>
